In [2]:
# test_10000.csv


import numpy as np
import pandas as pd
import datetime as dt
# import matplotlib.pyplot as plt
#[]
cols = ['ORIG','DEST','SALE_STR_DATE','TRAVEL_STR_DATE','SEASON_STR_DATE','DOW','MIN_STAY_UNIT','MIN_STAY_VAL','MAX_STAY_UNIT',
        'MAX_STAY_VAL','AP_UNIT','AP_VALUE','RBD','FAREAMT_BC']
res_col = ['']
path = '../pricing_emirates_full_dataset.csv'
df = pd.read_csv(path, usecols=cols, nrows=10000)

In [3]:

def year_to_int(date):
    return date.timetuple().tm_yday
    
#test it
# today = dt.datetime.now()
# print(today)
# print(year_to_int(today))

In [4]:
def convert_rev_date(cur):
        if cur is int : 
            print("already converted")
            return cur
        [day,month,year] = [int(x) for x in cur.split('-')]
        date = dt.datetime(day=day%100,month=month, year=year+2000)
        date = year_to_int(date)
        return date 

def convert_date_for(features):
    for feature in features:
        for i in range(df[feature].size):
            cur = df.loc[i,feature]
            df.loc[i, feature] = convert_rev_date(cur)

In [5]:
convert_date_for(features=['SALE_STR_DATE','TRAVEL_STR_DATE','SEASON_STR_DATE'])
print("done")

done

In [6]:
df.head()

,ORIG,DEST,SALE_STR_DATE,TRAVEL_STR_DATE,SEASON_STR_DATE,DOW,MIN_STAY_UNIT,MIN_STAY_VAL,MAX_STAY_UNIT,MAX_STAY_VAL,FAREAMT_BC,AP_UNIT,AP_VALUE,RBD
0,ORL,CRK,59,59,228,71234.0,1,SUN,M,6,1036,NaN,NaN,B
1,ORL,DMM,144,144,195,4567.0,NaN,NaN,M,12,1744,NaN,NaN,E
2,HOU,KBL,59,59,242,71234.0,NaN,NaN,M,12,1613,NaN,NaN,E
3,WAS,BGW,59,59,186,71234.0,1,SUN,M,6,1374,NaN,NaN,U
4,CHI,KHI,59,59,187,71234.0,1,SUN,M,6,888,NaN,NaN,U

In [7]:
df.to_csv('test_10000_convered_date.csv')