In [1]:
# test_10000.csv


import numpy as np
import pandas as pd
import datetime as dt
# import matplotlib.pyplot as plt
#[]
cols = ['ORIG','DEST','SALE_STR_DATE','TRAVEL_STR_DATE','SEASON_STR_DATE','DOW','MIN_STAY_UNIT','MIN_STAY_VAL','MAX_STAY_UNIT',
        'MAX_STAY_VAL','AP_UNIT','AP_VALUE','RBD','']
res_col = ['']
path = 'test_10000.csv'
df = pd.read_csv(path, usecols=cols)

In [2]:

def year_to_int(date):
    return date.timetuple().tm_yday
    
#test it
# today = dt.datetime.now()
# print(today)
# print(year_to_int(today))

In [3]:
def convert_rev_date(cur):
        if cur is int : 
            print("already converted")
            return cur
        [day,month,year] = [int(x) for x in cur.split('-')]
        date = dt.datetime(day=day%100,month=month, year=year+2000)
        date = year_to_int(date)
        return date 

def convert_date_for(features):
    for feature in features:
        for i in range(df[feature].size):
            cur = df.loc[i,feature]
            df.loc[i, feature] = convert_rev_date(cur)

In [4]:
convert_date_for(features=['SALE_STR_DATE','TRAVEL_STR_DATE','SEASON_STR_DATE'])
print("done")

done

In [6]:
df.head()

,JRNY_TYPE_ID,ORIG,DEST,COMPARTMENT,PAX_TYPE,SALE_STR_DATE,TRAVEL_STR_DATE,SEASON_STR_DATE,DOW,MIN_STAY_UNIT,MIN_STAY_VAL,MAX_STAY_UNIT,MAX_STAY_VAL,AP_UNIT,AP_VALUE,RBD
0,2,ORL,CRK,Y,ADT,59,59,228,71234.0,1,SUN,M,6,NaN,NaN,B
1,2,ORL,DMM,Y,ADT,144,144,195,4567.0,NaN,NaN,M,12,NaN,NaN,E
2,2,HOU,KBL,Y,ADT,59,59,242,71234.0,NaN,NaN,M,12,NaN,NaN,E
3,2,WAS,BGW,Y,ADT,59,59,186,71234.0,1,SUN,M,6,NaN,NaN,U
4,2,CHI,KHI,Y,ADT,59,59,187,71234.0,1,SUN,M,6,NaN,NaN,U

In [8]:
df.to_csv('test_10000_convered_date.csv')