In [1]:
import numpy as np
import pandas as pd
import datetime as dt
# import matplotlib.pyplot as plt
#[]
cols = ['ORIG','DEST','SALE_STR_DATE','TRAVEL_STR_DATE','SEASON_STR_DATE','DOW','MIN_STAY_UNIT','MIN_STAY_VAL','MAX_STAY_UNIT',
        'MAX_STAY_VAL','AP_UNIT','AP_VALUE','RBD','FAREAMT_BC']
res_col = ['']
path = 'test_10000_convered_date.csv'
df = pd.read_csv(path, usecols=cols)

In [2]:

place_to_int = dict()
int_to_place = dict()
            
def create_dictionary(features):
    global place_to_int, int_to_place
    unique = set()
    for feature in features:
        for i in range(df[feature].size):
            unique.add(df.loc[i,feature])
    place_to_int = {val:i for i, val in enumerate(unique)}
    int_to_place = dict(enumerate(unique))
    print(unique)
    print(place_to_int['ORL'])
    print(int_to_place[15])
            
def convert_to_int(features):
    for feature in features:
        for i in range(df[feature].size):
            cur = df.loc[i,feature]
            if cur is int:
                assert("cur is already number")
            df.loc[i, feature] = place_to_int[cur]

In [3]:
create_dictionary(['ORIG','DEST'])
print(place_to_int)

{'JNB', 'HAN', 'MIL', 'SIN', 'PEW', 'ABJ', 'DFW', 'CRK', 'BSR', 'LUN', 'KBL', 'NBO', 'BNE', 'ORL', 'LOS', 'KHI', 'PER', 'DMM', 'BAH', 'CMB', 'AMM', 'HKT', 'EBB', 'ADL', 'FLL', 'ACC', 'RGN', 'KUL', 'KRT', 'KWI', 'BEY', 'MED', 'CHC', 'MRU', 'COK', 'CCU', 'DPS', 'BJS', 'BOM', 'IST', 'BOS', 'SEA', 'LAX', 'DEL', 'DAC', 'ADD', 'JED', 'DUR', 'BLR', 'DXB', 'NYC', 'CAN', 'WAS', 'LAD', 'SYD', 'MCT', 'MNL', 'SHA', 'DOH', 'ISB', 'HRE', 'SKT', 'SFO', 'HOU', 'CCJ', 'CAI', 'RUH', 'MUX', 'BKK', 'MAA', 'JKT', 'CPT', 'AMD', 'DKR', 'HYD', 'TRV', 'DAR', 'MLE', 'MEL', 'SEZ', 'CEB', 'SGN', 'CHI', 'BGW', 'THR', 'MHD', 'HKG', 'LHE'}
13
KHI
{'JNB': 0, 'HAN': 1, 'MIL': 2, 'SIN': 3, 'PEW': 4, 'ABJ': 5, 'DFW': 6, 'CRK': 7, 'BSR': 8, 'LUN': 9, 'KBL': 10, 'NBO': 11, 'BNE': 12, 'ORL': 13, 'LOS': 14, 'KHI': 15, 'PER': 16, 'DMM': 17, 'BAH': 18, 'CMB': 19, 'AMM': 20, 'HKT': 21, 'EBB': 22, 'ADL': 23, 'FLL': 24, 'ACC': 25, 'RGN': 26, 'KUL': 27, 'KRT': 28, 'KWI': 29, 'BEY': 30, 'MED': 31, 'CHC': 32, 'MRU': 33, 'COK': 34, 'CCU': 35, 'DPS': 36, 'BJS': 37, 'BOM': 38, 'IST': 39, 'BOS': 40, 'SEA': 41, 'LAX': 42, 'DEL': 43, 'DAC': 44, 'ADD': 45, 'JED': 46, 'DUR': 47, 'BLR': 48, 'DXB': 49, 'NYC': 50, 'CAN': 51, 'WAS': 52, 'LAD': 53, 'SYD': 54, 'MCT': 55, 'MNL': 56, 'SHA': 57, 'DOH': 58, 'ISB': 59, 'HRE': 60, 'SKT': 61, 'SFO': 62, 'HOU': 63, 'CCJ': 64, 'CAI': 65, 'RUH': 66, 'MUX': 67, 'BKK': 68, 'MAA': 69, 'JKT': 70, 'CPT': 71, 'AMD': 72, 'DKR': 73, 'HYD': 74, 'TRV': 75, 'DAR': 76, 'MLE': 77, 'MEL': 78, 'SEZ': 79, 'CEB': 80, 'SGN': 81, 'CHI': 82, 'BGW': 83, 'THR': 84, 'MHD': 85, 'HKG': 86, 'LHE': 87}

In [4]:
create_dictionary(['ORIG','DEST'])
convert_to_int(['ORIG','DEST'])

{'JNB', 'HAN', 'MIL', 'SIN', 'PEW', 'ABJ', 'DFW', 'CRK', 'BSR', 'LUN', 'KBL', 'NBO', 'BNE', 'ORL', 'LOS', 'KHI', 'PER', 'DMM', 'BAH', 'CMB', 'AMM', 'HKT', 'EBB', 'ADL', 'FLL', 'ACC', 'RGN', 'KUL', 'KRT', 'KWI', 'BEY', 'MED', 'CHC', 'MRU', 'COK', 'CCU', 'DPS', 'BJS', 'BOM', 'IST', 'BOS', 'SEA', 'LAX', 'DEL', 'DAC', 'ADD', 'JED', 'DUR', 'BLR', 'DXB', 'NYC', 'CAN', 'WAS', 'LAD', 'SYD', 'MCT', 'MNL', 'SHA', 'DOH', 'ISB', 'HRE', 'SKT', 'SFO', 'HOU', 'CCJ', 'CAI', 'RUH', 'MUX', 'BKK', 'MAA', 'JKT', 'CPT', 'AMD', 'DKR', 'HYD', 'TRV', 'DAR', 'MLE', 'MEL', 'SEZ', 'CEB', 'SGN', 'CHI', 'BGW', 'THR', 'MHD', 'HKG', 'LHE'}
13
KHI

In [5]:
df.head()

,ORIG,DEST,SALE_STR_DATE,TRAVEL_STR_DATE,SEASON_STR_DATE,DOW,MIN_STAY_UNIT,MIN_STAY_VAL,MAX_STAY_UNIT,MAX_STAY_VAL,FAREAMT_BC,AP_UNIT,AP_VALUE,RBD
0,13,7,59,59,228,71234.0,1,SUN,M,6,1036,NaN,NaN,B
1,13,17,144,144,195,4567.0,NaN,NaN,M,12,1744,NaN,NaN,E
2,63,10,59,59,242,71234.0,NaN,NaN,M,12,1613,NaN,NaN,E
3,52,83,59,59,186,71234.0,1,SUN,M,6,1374,NaN,NaN,U
4,82,15,59,59,187,71234.0,1,SUN,M,6,888,NaN,NaN,U

In [6]:
df.to_csv('test_10000_convered_places.csv')